@import '__vars';
@import '__mixins';
@import "smart-grid";
@import 'header';
@import "nav";
@import "breadcrumbs";

//@import "card";

//@import "partners";
//@import "about-us";
//@import "photo";

@import "callback";
//@import "modal";
@import "tabs";
//@import "advantages";

@import "base-offer";
@import "base-card";
@import "examples";
@import "base-steps";
@import "seo-text";





/******************* it-all-style *******************/

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: rem(16px);
}

body {
  font-size: rem(16px);
}

body * {
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #000000;
  line-height: 1.42;
  box-sizing: border-box;

}

.it-container {
  max-width: 1060px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.it-container * {
  box-sizing: border-box;
}


//.it-container--big {
//  max-width: 1920px;
//  width: 100%;
//  padding: 0 30px;
//  margin: 0 auto;
//  @include tablets {
//    padding: 0 15px;
//  }
//}

.it-all-title {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: rem(20px);
  line-height: 1.4;
  text-align: center;
  font-weight: 700;
  position: relative;
  color: #000000;
  margin: 0;
  @include tablets {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  @include phones {
    font-size: rem(32px);
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.it-all-subtitle {
  font-size: rem(16px);
  font-weight: 300;
  text-align: center;
  padding-bottom: 30px;
}

.it-all-title + .it-all-subtitle {
  margin-top: -25px;
  @include phones {
    margin-top: -10px;
  }
}

//.it-all-title:before,
//.it-all-title:after {
//  content: '';
//  display: block;
//  position: absolute;
//  top: 37%;
//  left: 50%;
//  margin-left: -64px;
//  width: 128px;
//  height: 3px;
//  background-color: $main-color;
//  @include phones {
//    top: 30%;
//  }
//}

//.it-all-title:after {
//  top: auto;
//  bottom: 25%;
//  @include phones {
//    bottom: 18%;
//  }
//}

.it-all--indent {
  margin-bottom: 80px;
  @include phones {
    margin-bottom: 40px;
  }
}

.it-all--min-indent {
  margin-bottom: 40px;
}

.it-main-page__wrapper {
  position: relative;
  min-height: 100%;
  margin-bottom: -103px;
  overflow: hidden;
}

.it-main-page__wrapper * {
  box-sizing: border-box;
}

.it-main-page__wrapper:after {
  content: "";
  display: block;
  height: 88px;
}



.it-btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  user-select: none;
  border: none;
  padding: 12px 5px;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  background-color: $main-color;
  color: #ffffff;
  text-transform: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
}

.it-btn:hover {
  background: $main-color-hover;
}

.it-btn:hover,
.it-btn:active,
.it-btn:visited {
  text-decoration: none;
  color: #ffffff;
}

.it-btn--transparent {
  background-color: transparent;
  color: #000000;
  border: 1px solid $main-color;

}



.it-btn--transparent:active,
.it-btn--transparent:visited {
  color: #000000;
}

.it-btn--transparent:hover {
  border: 1px solid $main-color;
  color: #ffffff;
  background: $main-color;
}

.it-btn--arrow {
  display: inline-block;
  padding-left: 15px;
}



/******************* media *******************/

@media (max-width: 1200px) { /*desctop*/


}

@media (max-width: 992px) { /*laptop*/
  html {
    font-size: 15px;
  }
}

@media (max-width: 720px) { /* tablets*/
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) { /*phones*/
  html {
    font-size: 13px;
  }

}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}