@import "__vars";
@import "__mixins";
@import "smart-grid";

.other-progectss {
  @include tablets {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
  }

}

.other-progectss__wrap {
  overflow: hidden;

}

.other-progects__list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  @include tablets {
      margin: 0 -10px 0;
    display: flex;
    flex-wrap: wrap;

  }

}

.other-progects__item {
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
  max-width: 250px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include tablets {
    margin: 0 10px 20px;
    flex-basis: 180px;
    flex-grow: 1;
  }
}



.other-progects__inner-item {
  text-decoration: none;
  display: block;
  padding: 10px 10px;

}

.other-progects__inner-item:hover {
  text-decoration: none;
}

.other-progects__inner-item:active,
.other-progects__inner-item:visited {
  text-decoration: none;
}

.other-progects__inner-item:hover .other-progects__img {
  transform: scale(1.1);
}

.other-progects__title {
  font-weight: 700;
  font-size: rem(20px);
  margin-bottom: 20px;
}

.other-progects__img-box {
  max-height: 130px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

.other-progects__img {
  display: block;
  height: auto;
  max-width: 120%;
  transition: 0.2s;
}

.other-progects__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}


.other-progects__item-title {
  max-width: 130px;
  width: 100%;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  flex-basis: 70%;

}

.other-progects__item-price {
  color: $main-color;
  font-size: 14px;
  font-weight: 700;
  flex-basis: 30%;
  margin-bottom: 5px;

}

.other-progects__person__list {
  margin: 0;
  padding: 0;


}

.other-progects__person-item {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
  @include tablets {
    margin: 0 auto 40px;
  }

}

.other-progects__person-item:hover .other-progects__person-img {
  transform: scale(1.1);
}

.other-progects__person-img-box {
  max-height: 164px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

}

.other-progects__person {
  @include tablets {
    width: 100%;
  }
}





.other-progects__person-img {
  display: block;
  height: auto;
  max-width: 110%;
  transition: 0.2s;
}

.other-progects__person-content {
  position: relative;


}

.other-progects__person-title {
  font-weight: 300;
  font-size: rem(12px);
  margin-bottom: 20px;
  color: #000000;
}

.other-progects__person-subtitle {
  color: $main-color;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;

}

.other-progects__person-buttons {
  margin-bottom: 10px;
}

