aside.other-progectss
		.other-progects__title
			|	Так же рекомендуем
		.other-progectss__wrap

			ul.other-progects__list
				li.other-progects__item
					a(href="#").other-progects__inner-item
						.other-progects__img-box
							img.other-progects__img(src="static/img/other-progects/1.jpg", alt='')
						.other-progects__content
							.other-progects__item-title
								|    Тренировочный
								| хоккейный свитер от
							.other-progects__item-price
								|	0 000 ₽
				li.other-progects__item
					a(href="#").other-progects__inner-item
						.other-progects__img-box
							img.other-progects__img(src="static/img/other-progects/2.jpg", alt='')
						.other-progects__content
							.other-progects__item-title
								|    Хоккейные гамаши от
							.other-progects__item-price
								|    0 000 ₽
			.other-progects__person
				ul.other-progects__person__list
					li.other-progects__person-item
						.other-progects__person-img-box
							img(src="static/img/other-progects/4.jpg", alt='').other-progects__person-img
						.other-progects__person-content
							.other-progects__person-title
								|    Инвентарь для хоккея
							.other-progects__person-subtitle
								|	Более 580 товаров
							.other-progects__person-buttons
								a(href="/catalogue/inventar/hokkey/").other-progects__person-btn.it-btn.it-btn--transparent
									|	Узнать подробнее



