// --------------------- it-steps -------------------------
section.it-steps.it-all--indent#it-steps
		.it-steps__wrap
			.it-steps__title(data-calculation-title)
				b
					|	Добавьте деталей: &#32;
				|	расскажите о том, что вам нужно!
			.it-steps__item
				.it-steps__step-wrap
					.it-steps__step-inner-wrap
						.it-steps__step-number
							|	1
						.it-steps__step-text.active(data-calculation-text='1')
							|	Выбор
							br
							|	логотипа
					.it-steps__step-inner-wrap
						.it-steps__step-number
							|	2
						.it-steps__step-text(data-calculation-text='2')
							|	Выбор
							br
							|	модели
					.it-steps__step-inner-wrap.it-steps__step-inner-wrap--size
						.it-steps__step-number
							|	3
						.it-steps__step-text(data-calculation-text='3')
							|    Отправка
							br
							| заявки
				.it-steps__step-line
					.it-steps__line-inner(data-it-line-inner='')
					.it-steps__line-dot.active.it-steps__line-dot--one(data-dot-line="1")
					.it-steps__line-dot.it-steps__line-dot--two(data-dot-line="2")
					.it-steps__line-dot.it-steps__line-dot--three(data-dot-line="3")
				form.it-steps__form.it-form--hide(action='/sendCallBack.php', data-it-form='')
					ul.it-steps__inner-wrap
						li.it-steps__inner-item(data-it-calculation-item='1')
							.it-steps__item-wrap.it-steps__item-wrap--indent
								.it-steps__item-half
									.it-steps__item-half-title
										|	Способ нанесения  логотипа:
									.it-steps__select-wrap
										select.it-steps__select(name='fuel', required='' )
											option(value='Сублимационная печать', selected='', )
												| Сублимационная печать
											option(value='Электрический котел')
												| Электрический котел
											option(value='Пеллетный котел')
												| Пеллетный котел
								.it-steps__item-half.it-steps__item-half-file
									.it-steps__item-half-title
										|    Загрузите логотип:
									label.it-callback__file-label.it-steps__file-label
										input.it-callback__file#add_file(name='file', type='file' data-file-default accept="image/jpeg,image/png,image/gif" )
										span.it-callback__file-title.it-steps__file-title.it-btn.it-btn--transparent Прикрепить
										.it-callback__file-name(data-file-name='')
								.it-steps__item-half
									.it-steps__item-half-title
										|    Понадобятся ли вам нашивки?
									.it-steps__select-wrap.it-steps__select-wrap--size
										select.it-steps__select.it-steps__select--size(name='fuel', required='' )
											option(value='Да', selected='', )
												| Да
											option(value='Электрический котел')
												| Нет

								.it-validate-error
									| Заполните поля
						li.it-steps__inner-item(data-it-calculation-item='2')
							.it-steps__item-wrap
								.it-steps__item-half.it-steps__item-half--size2
									.it-steps__item-half-title
										|    Выберите тип ворота:
									ul.it-steps__model-list
										li.it-steps__model-item
											label.it-steps__model-checkbox
												input.it-steps__model-checkbox-default(type="radio" name="model1" checked)
												.it-steps__model-checkbox-pseudo
													img(src="static/img/steps/1.png", alt='').it-steps__model-checkbox-img
										li.it-steps__model-item
											label.it-steps__model-checkbox
												input.it-steps__model-checkbox-default(type="radio" name="model1" )
												.it-steps__model-checkbox-pseudo
													img(src="static/img/steps/2.png", alt='').it-steps__model-checkbox-img
										li.it-steps__model-item
											label.it-steps__model-checkbox
												input.it-steps__model-checkbox-default(type="radio" name="model1" )
												.it-steps__model-checkbox-pseudo
													img(src="static/img/steps/3.png", alt='').it-steps__model-checkbox-img
										li.it-steps__model-item
											label.it-steps__model-checkbox
												input.it-steps__model-checkbox-default(type="radio" name="model1" )
												.it-steps__model-checkbox-pseudo
													img(src="static/img/steps/4.png", alt='').it-steps__model-checkbox-img
								.it-steps__item-half.it-steps__item-half--size3
									.it-steps__item-half-title
										|    Выберите тип подола:
									.it-steps__select-wrap
										select.it-steps__select(name='fuel', required='' )
											option(value='Нужен длинный низ', selected='', )
												| Нужен длинный низ
											option(value='Электрический котел')
												| Электрический котел
											option(value='Пеллетный котел')
												| Пеллетный котел
						li.it-steps__inner-item(data-it-calculation-item='3')
							.it-steps__outer-wrap
								.it-steps__inner-item-top
									.it-steps__item-half.it-steps__item-half.it-steps__item-half--size4
										.it-steps__item-half-title
											|    Внесите ваши контакты:
										input.it-steps__input(type="text" name='NAME', maxlength='200', value='', placeholder='Ваше имя', required)
										input.it-steps__input(type='tel', name='PHONE', maxlength='200', value='', placeholder='Ваш телефон', data-phone='true', required, data-mask='phone')
									.it-steps__item-half.it-steps__item-half--size4
										.it-steps__item-half-title
											|    Вам понадобятся дополнительно?
										.it-steps__checkbox-wrap
											label.it-checkbox
												input.it-steps__checkbox-default(type="checkbox" name="AGREE" )
												span.it-steps__checkbox-pseudo
												span.it-steps__checkbox-text
													|    Гамаши
										.it-steps__checkbox-wrap
											label.it-checkbox
												input.it-steps__checkbox-default(type="checkbox" name="AGREE" )
												span.it-steps__checkbox-pseudo
												span.it-steps__checkbox-text
													|    Рейтузы
										.it-steps__checkbox-wrap
											label.it-checkbox
												input.it-steps__checkbox-default(type="checkbox" name="AGREE" )
												span.it-steps__checkbox-pseudo
												span.it-steps__checkbox-text
													|    Тренировочная форма

								.it-steps__inner-item-bottom
									textarea.it-steps__textarea(name="комментарий" placeholder="Комментарий" maxlength="1000")
									.it-steps__checkbox-wrap.it-steps__checkbox-wrap--indent
										label.it-checkbox
											input.it-steps__checkbox-default(type="checkbox" name="AGREE" checked)
											span.it-steps__checkbox-pseudo.it-steps__checkbox-pseudo--size
											span.it-steps__checkbox-text.it-steps__checkbox-text--color
												|    Подтверждаю свое согласие на
												br
												|     обработку персональных данных



						.it-steps__buttons
							button.it-btn.it-steps__btn.it-steps__btn--prev(type='button', data-it-btn='prev')
								| Назад
								button.it-btn.it-steps__btn.it-steps__btn--next.it-btn--arrow.active(type='button', data-it-btn='next')
									| Далее
								button.it-btn.it-steps__btn.it-steps__btn--send(type='submit', data-it-btn='send')
									| Отправить
							.it-form__success
								p Спасибо!
								p Ваша заявка принята