section.it-tabs.it-all--indent
		ul.it-tabs__nav-wrap(data-switch-wrap='')
			li.it-tabs__nav-item.active
				a.it-tabs__nav-link(href='', data-switch='speaker1')
					span.it-tabs__inner-text
						|	Описание
			li.it-tabs__nav-item
				a.it-tabs__nav-link(href='', data-switch='speaker2')
					span.it-tabs__inner-text
						|	Гарантии
			li.it-tabs__nav-item
				a.it-tabs__nav-link(href='', data-switch='speaker3')
					span.it-tabs__inner-text
						|	Доставка и оплата

		ul.it-tabs__list(data-tabs-wrap='')
			li.it-tabs__item.active(data-tab='speaker1')
				.it-tabs__content
					ul
						li
							|    Учитывает специфику движения в профессиональном спорте
						li
							|    Воздухопроницаемая ткань
						li
							|    Прочная износостойкая ткань
						li
							|    Возможность переноса на ткань любого полноцветного изображения
						li
							|	В цену входит нанесение сублимацией эмблем/логотипов, номеров и фамилий
					p
						|    Аппликация + вышивка – рассчитывается отдельно.
					p
						|	Данная модель свитера может быть изготовлена без нанесений, эту информацию	&#32;
						a(href="#")
							|	укажите в примечании к заказу
			li.it-tabs__item(data-tab='speaker2')
				.it-tabs__content
					ul
						li
							|    Текст про гарантии и защиту потребителя
						li
							|   Текст про гарантии и защиту потребителя
						li
							|    Текст про гарантии и защиту потребителя
					p
						|    Текст про гарантии и защиту потребителя.
					p
						|    Текст про гарантии и защиту потребителя Текст про гарантии и защиту потребителя Текст про гарантии
			li.it-tabs__item(data-tab='speaker3')
				.it-tabs__content
					ul
						li
							b
								|    Наличный расчёт:
							p
								|    Вы можете оплатить заказ наличными курьеру при его получении или в пункте самовывоза.
								| При получении товара обязательно проверьте комплектацию заказа, наличие гарантийного талона и чека.
					ul
						li
							b
								|    Банковские карты:
							p
								|    Вы можете оплатить заказ банковской картой в пункте самовывоза
							p
								|    Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.
							p
								|	В соответствии с ФЗ «О защите прав потребителей» в случае, если вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.
					ul
						li
							b
								|    Онлайн-оплата
							p
								|    Для оплаты покупки на этапе оформления заказа вы будете перенаправлены на платежный шлюз Robokassa.
								| Оплата происходит с использованием следующих платежных систем:
							img(src="static/img/tabs/1.jpg", alt='')
					ul
						li
							b
								|   Безналичный расчёт
							p
								|	После оформления заказа и его проверки менеджером магазина будет сформирован счёт на оплату, который вы можете распечатать и оплатить. Денежные средства поступят на наш счёт в течение 1-2 рабочих дней после оплаты заказа.
							p
								|	Все необходимые для бухгалтерии документы (оригинал счёта на оплату, счёт-фактура, накладная) выдаются вместе с заказом при получении.
